@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

:root{
    --veryDarkBlue: hsl(233, 47%, 7%);
    --darkDesaturatedBlue: hsl(244, 38%, 16%);
    --softViolet: hsl(277, 64%, 61%);

    --white: hsl(0, 0%, 100%);
    --slightlyTransparentWhite: hsla(0, 0%, 100%, 0.75);
    --slightlyTransparentWhiteHeaddings: hsla(0, 0%, 100%, 0.6);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.container{
    display: grid;
    width: 100%;
    height: 100vh;
    place-items: center;
    background-color: var(--veryDarkBlue);
}

.wrapper{
    display: grid;
   width: min(80%, 1200px);
    background-color: var(--darkDesaturatedBlue);
    overflow: hidden;
    border-radius: 10px;
    grid-template-columns: 50% 50%;
}

.stats{
    padding: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px; 
}

h2{
    font-size:2.25rem;
    color: var(--white);
}

h2 span{
    font-size:2.25rem;
    color: var(--softViolet);
}

p{
    font-size: 0.9rem;
    color: var(--slightlyTransparentWhite);
    line-height: 25px;
}

.ourStats{
    display: flex;
    margin-top: 50px;
}
.ourStats div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.ourStats div + div{
    margin-left: auto;
}

.ourStats div h3{
    text-transform: uppercase;
    color: var(--white);
    font-size: 1.25rem;
}

.ourStats div p{
    line-height: 10px;
    text-transform: uppercase;
    color: var(--slightlyTransparentWhite);
}

.image{
    display: flex;
    position: relative;
}
img:nth-of-type(2){
    display: none;
}
.content{
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: hsla(277, 64%, 25%, 0.5);
}

@media(max-width:48rem){
    .wrapper{
        display: flex;
        flex-direction: column-reverse;
        height: 90%;
    }
    .stats{
        padding: 20px 30px;
        text-align: center;
    }
    .ourStats{
        flex-direction: column;
        gap: 15px;
    }
    .ourStats div + div{
        margin-left:0 ;
    }
    img:nth-of-type(1){
        display: none;
    }
    .image{
        width: 100%;
        height: 100%;
    }
    img:nth-of-type(2){
        display: block;
        width: 100%;
        aspect-ratio: 1/1;
    }
}